/*Zona De generalidades */
* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html{
    font-size: 62.5%;
}

/*Las anclas no tienen subrayado */
a{
    text-decoration: none;
}

/*La cabecera contendra 
    - Un logo 
    - El nav
    - Un titulo
*/
.cabecera {
    background-color: #6a040f;
    position: relative;
}

/*
    Titulo principal de la pagina
*/
.titulo-cabecera {
    color: white;
    font-size: 2.3rem;
    padding: 15px;
}

/*
    Navegador contiene 3 anclas 
*/
.navegador-cabecera{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
}

.lista-container{
   display: none;
   width: 100%;
}

.lista-container.active{
    display: flex;
}

.lista-container ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}



.lista-container li{
    list-style: none;
    text-align: center;
}

.lista-container li a{
    text-decoration: none;
    color: #dda846;
    padding: 15px;
    display: block;
    font-size: 1.5rem;
}

.lista-container li:hover{
    background-color: rgba(212, 32, 32, 0.411);
}

.toggle-button{
    display: flex;
    position: absolute;
    top: 22px;
    right: 15px;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 15px;
}

.toggle-button .bar{
    height: 2px;
    width: 100%;
    background-color: white;
}


/*
    Para cualquier imagen que sera insertada en la pagina
*/
main section figure {
    display: flex;
    justify-content: center;
}

/*
    Todas las imagenes tendran las mismas dimensiones y caracteristicas
*/
.imagen-main{
    height: 350px;
    width: 100%;
    max-width: 900px;
}
/*
    No se muestran en mobile
*/
.cabecera-info-main{

   display: none;

}
/*
    No se muestran en mobile
*/
.texto-info-main{

    display: none;

}
/*
   Nosotros, Mision y Vision Estilos
*/

.mision-vision-container{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: #6a040f;
}

.nosotros-titulo-container{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.nosotros-titulo{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: #faa307;
}

.card-info{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    border: solid 0.1rem #faa307;
}

.titulo-card{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #dda846;
}

.body-card{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #dda846;
}

/*
    Estilos de las instituciones

*/

.instituciones-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.titulo-instituciones{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.titulo-instituciones h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: #000;
}

.titulo-instituciones p{
    padding-top: 2px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.instituciones-slider{
    display: flex;
    height: 360px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin-left: 10px;
    margin-right: 20px;
}

.institucion-card-container{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 300px;
    margin: 50px 20px 0;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.titulo-institucion{
    position: absolute;
    width: 120px;
    height: 50px;
    left: calc(50% - 60px);
    top: -20px;
    background-color: #6a040f;
    border-radius: 8px;
    color: #dda846;
    font-size: 1.2rem;
    padding: 6px;
    text-align: center;
    
}

.titulo-institucion span{ 
    position: absolute;
    top: 20px;
    left: 40px;   
}
.titulo-institucion span a{ 
   text-decoration: none;  
   color: #dda846;
}

.escudo{
   
    display: flex;
    justify-content: center;
    padding-top: 15px;
   
;

}

.leyenda-institucion{
    width: 90%;
    height: auto;
    padding: 20px;
}

.leyenda-institucion p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
}

/*

    Estilos de Contactos
    
*/

.contacto-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
    background-color: #6a040f;
}

.contend-contactos{
    display: flex;
    justify-content: center;
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.formulario{
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #dda846;
    font-size: 1.5rem;
}

.formulario.campo-texto-form{
    border-radius: 20px;
}

/*
    Representa la paleta de colores que se usaran en esta pagina

*/
.paleta{
    color:#6a040f;
    color:#9d0208;
    color:#faa307;
    color:#dc2f02;
    color: rgba(212, 32, 32, 0.411);
}

/*
    footer dividido en 2 secciones una redes otra creditos
*/
footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #000;
    justify-content: center;
}

.content-redes{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-around;
    
}

.content-redes a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    padding: 5px;
}