.container-main{
    display: flex;
    flex-direction: row;
}

.image-containe{
    display: flex;
    position: relative;
}

.image-contain p{
    position: absolute;
    color: white;
    bottom: 25px;
    font-size: 2.5rem;
    text-align: center;
}

@media only screen and (max-width: 700px){
    
    nav .brand-logo{
        left: 55%;
        width: 70%;
        font-size: 1.5rem;
    }

    .row{
        padding: 0;
        margin-bottom: 0;
    }

    .row .col{
        padding: 0;
    }

    .container-main{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .image-contain{
        position: relative;
    }

    .image-contain p{
        position: absolute;
        color: white;
        bottom: 25px;
        font-size: 1.5rem;
        text-align: center;
    }

    .imagen-hero{
        width: 100%;
        height: auto;
    }

    .aboutus{
        width: 90%;
        padding: 25px 0;
    }
}