.nav-fondo{
    background-color: rgb(100, 21, 21);
}

.card-body > img{
    width: 100%;
    height: auto;
    padding-bottom: 25px;
}

/* .navbar-nav .dropdown-menu{
    
} */

.relleno{
    padding: 14px 0;
}